{
  "ignore": [
    "node_modules"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ],
  "env": {
    "production": {
      "comments": false,
      "minified": true,
      "ignore": [
        "node_modules",
        "**/*.test.js",
        "**/*.spec.js"
      ]
    }
  }
}